.about {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.about::before {
  content: '';
  position: absolute;
  top: 28%;
  right: 51%;
  width: 160px;
  height: 160px;
  background-image:
    radial-gradient(
      9px 9px,
      var(--basic-white) 3px,
      var(--light-green) 3px,
      var(--light-green) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      14px 14px,
      var(--basic-white) 7px,
      var(--light-green) 7px,
      var(--light-green) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      6px 6px,
      var(--basic-white) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      6px 6px,
      var(--basic-white) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      9px 9px,
      var(--green) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      6px 6px,
      var(--green) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      6px 6px,
      var(--green) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      6px 6px,
      var(--basic-white) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      6px 6px,
      var(--basic-white) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      6px 6px,
      var(--light-green) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      5px 5px,
      var(--green) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    ),
    radial-gradient(
      14px 14px,
      var(--green) 100%,
      var(--basic-white) 100%,
      var(--basic-white)
    );
  background-repeat:
    no-repeat,
    no-repeat,
    repeat-x,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    repeat;
  background-size: 40px 40px;
  background-position:
    120px 40px,
    80px 120px,
    0 120px,
    0 80px,
    40px 80px,
    40px 40px,
    0 40px,
    120px 0,
    0 0,
    40px 0,
    80px 0,
    0 0;
}

.about__content {
  position: relative;
  width: 405px;
}

.about__content p {
  margin: 0 0 18px;
}

.about__image {
  position: relative;
  margin: 0;
  justify-self: end;
}

.about__image img {
  display: block;
  width: 855px;
  max-width: unset;
  margin-left: -100px;
}

@media (max-width: 1200px) {
  .about::before {
    top: 24%;
    right: 46%;
  }

  .about__image img {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 1100px) {
  .about::before {
    top: 20%;
    right: 42%;
  }
  .about__content {
    width: 380px;
  }
}

@media (max-width: 1000px) {
  .about::before {
    top: 20%;
    right: 38%;
  }
}

@media (max-width: 900px) {
  .about {
    display: block;
  }

  .about__content {
    width: auto;
  }

  .about::before {
    content: unset;
  }

  .about__image {
    max-width: 500px;
    margin: 0 auto;
  }
}
