.hero {
  padding-top: 0;
  padding-bottom: 0;
}

.hero__inner {
  display: grid;
  grid-template-columns: min-content 1fr;
  color: var(--basic-white);
}

.hero__content {
  width: 340px;
  margin-top: 90px;
}

.hero__image {
  justify-self: end;
  margin: -90px 0 0;
  background-image:
    radial-gradient(
      circle,
      var(--light-green) 225px,
      transparent 225px
    ),
    radial-gradient(
      circle at right 30px top 120px,
      var(--light-green) 30px,
      transparent 30px
    );
}

.hero__image img {
  display: block;
}

.hero__description {
  margin: 20px 0 45px;
}

@media (max-width: 875px) {
  .hero {
    padding-bottom: 40px;
    background-color: var(--green);
  }

  .hero__content {
    width: 340px;
    margin-top: 40px;
  }

  .hero__image {
    margin-top: -20px;
    background-image: unset;
  }
}

@media (max-width: 700px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .hero__inner {
    display: block;
  }

  .hero__content {
    width: auto;
    margin: 0;
    text-align: center;
  }

  .hero__image {
    display: none;
  }
}
