.pricing__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: var(--basic-white);
  list-style: none;
}

.pricing__list .button {
  display: block;
  margin-top: 72px;
  margin-bottom: 62px;
}

.pricing__list li {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 430px;
  padding: 50px 65px;
  background-color: var(--green);
  border-radius: 4px;
}

.pricing__list li:nth-child(3n + 1) {
  background-color: var(--lightest-green);
}

.pricing__list li:nth-child(3n + 2) {
  background-color: var(--light-green);
}

.pricing__list li::before {
  content: '';
  position: absolute;
  top: 105px;
  right: 50px;
  width: 250px;
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
}

.pricing__list li:nth-child(1)::before {
  background-image: url('../../assets/images/01.svg');
}

.pricing__list li:nth-child(2)::before {
  background-image: url('../../assets/images/02.svg');
}

.pricing__list li:nth-child(3)::before {
  background-image: url('../../assets/images/03.svg');
}

.pricing__label {
  display: block;
  margin-top: auto;
  font-size: 14px;
  text-transform: uppercase;
}

.pricing__level {
  display: block;
  margin-bottom: 17px;
  font-weight: 300;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pricing__price {
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .pricing__list li {
    min-height: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .pricing__list li::before {
    width: 200px;
    height: 125px;
  }
}

@media (max-width: 1000px) {
  .pricing__list li {
    min-height: 320px;
    padding: 40px;
  }

  .pricing__list li::before {
    width: 170px;
    height: 110px;
  }

  .pricing__list .button {
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .pricing__list {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }

  .pricing__list li {
    min-height: auto;
    padding: 50px 80px;
  }

  .pricing__list li:not(:last-child) {
    margin-bottom: 20px;
  }

  .pricing__list li::before {
    top: 60px;
  }

  .pricing__list .button {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .pricing__list li {
    padding: 40px;
  }
}
