.review {
  padding: 30px 50px 40px;
  box-shadow: 0 6px 30px 0 var(--opaque-black);
}

.review__image {
  width: 150px;
  height: 150px;
  margin: 0 0 10px;
  border-radius: 50%;
  overflow: hidden;
}

.review__image img {
  display: block;
  width: 150px;
  height: 150px;
}

.review__author {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 26px;
}

.review__age {
  display: block;
  margin-bottom: 25px;
}

.review__text {
  margin: 0;
}

@media (max-width: 1100px) {
  .review {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1000px) {
  .review {
    min-height: auto;
    padding: 40px;
  }
}

@media (max-width: 900px) {
  .review {
    padding: 30px 20px;
  }
}

@media (max-width: 850px) {
  .review {
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .review {
    padding: 20px;
  }
}
