:root {
  --basic-black: #404040;
  --basic-white: #FFFFFF;
  --opaque-white: rgba(255, 255, 255, 0.7);
  --dark-green: #3F524C;
  --green: #92AB5A;
  --light-green: #BECC99;
  --lightest-green: #C9D5AD;

  --transition-time: 0.2s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1194px;
  font-size: 16px;
  line-height: 1.4;
  font-family: Roboto, Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: radial-gradient(
    circle at 4% 6%,
    var(--green),
    var(--green) 600px,
    var(--basic-white) 600px);
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

button {
  font: inherit;
  color: inherit;
}

.container {
  width: 1164px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 1220px) {
  body {
    background-image: radial-gradient(
      100% 1400px at 3% 5%,
      var(--green),
      var(--green) 50%,
      var(--basic-white) 50%);
  }
}
