:root {
  --basic-black: #404040;
  --opaque-black: rgba(0, 0, 0, 0.1);
  --basic-white: #FFFFFF;
  --opaque-white: rgba(255, 255, 255, 0.7);
  --dark-green: #3F524C;
  --green: #92AB5A;
  --light-green: #BECC99;
  --lightest-green: #C9D5AD;

  --transition-time: 0.2s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, Arial, sans-serif;
  color: var(--basic-black);
  background-image: radial-gradient(
    100% 1300px at 3% 5%,
    var(--green),
    var(--green) 50%,
    var(--basic-white) 50%);
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

button {
  font: inherit;
  color: inherit;
}

.container {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1220px) {
  body {
    background-image: radial-gradient(
      600px 580px at 4% 5%,
      var(--green),
      var(--green) 600px,
      var(--basic-white) 600px);
  }
}

@media (max-width: 910px) {
  body {
    background-image: radial-gradient(
      500px 400px at 4% 5%,
      var(--green),
      var(--green) 600px,
      var(--basic-white) 600px);
  }
}

@media (max-width: 875px) {
  body {
    background-color: var(--basic-white);
    background-image: unset;
  }
}
